/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */




.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;

}

.mainGrad {
  height: 75vh;
  background: rgb(255,162,0);
  background: linear-gradient(165deg, rgba(255,162,0,1) 0%, rgba(71,56,136,1) 100%);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

